body, html {
  height: 100%;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 700px;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 0 10px 20px 2px rgba(0,0,0,0.1);
  display: flex;
  flex-wrap: wrap;
}

section {
  flex: 350px;
  flex: 1;
  padding: 10px;
}

.result {
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 25px;
  text-align: center;
  color: hsl(241, 100%, 89%);
}

.summary {
  padding: 25px;
}

.result-num {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border-radius: 50%;
  background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

div p str {
  font-weight: bolder;
  font-size: 50px;
  color: white;
}

.congrat {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

ul {
  padding: 0;
  list-style-position: inside;
  list-style-type: none;
}

li {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.score {
  margin: 0;
  color: hsla(224, 30%, 27%, 0.5);
  text-align: right;
  flex: 6;
}

.category {
  margin: 0;
  text-align:left;
  flex: 6;
}

li p str {
  color: hsl(224, 30%, 27%);
}

li.reaction {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%)
}

li.reaction::before {
  flex: 1;
  content: url(assets/images/icon-reaction.svg);
  width: 20px;
  margin-right: 10px;
  position: relative;
  top: 3px;
}

li.memory {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}

li.verbal {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}

li.visual {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}

button {
  width: 280px;
  background-color: hsl(224, 30%, 27%);
  color: hsl(221, 100%, 96%);
  border: none;
  padding: 20px;
  border-radius: 30px;
}
